/*
 *= require inspinia/sweetalert/sweetalert
*/

@import 'items_collection';

.hera-plus {
  font-size: 100px;
}

.left-block {
  position: absolute;
  width: 100%;
  font-size: 20px;
  margin-top: 20px;
  color: #50808E;
}

.left-block a {
  float: right;
  margin-right: 20px;
  color: #50808E;
}
