@import 'loader';

#map {
  width:100%;
  height:100%;
  position: absolute;
}

/* GOOGLE MAPS CONTRLS */

.google-map-control {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0,0,0,.3);
  cursor: pointer;
  float: left;
  margin-bottom: 22px;
  text-align: center;
  font-size: 30px;
}

.non-active {
  pointer-events: none;
}

.title-header {
  margin: 0 auto;
  padding: 4em 1em;
  text-align: center;
}

.title-header h1 {
  margin: 0;
  font-weight: 800;
  font-size: 4em;
  line-height: 1.3;
  color: #50808E;
}

.button-circle {
  width: 60px;
  height: 60px;
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.33;
  border-radius: 35px;
  border: 3px solid #fff;
  position: relative;
  background-color: rgba(0, 0, 0, 0.38);
  z-index: 1;
}

.button-circle:hover, .button-circle:focus, .button-circle:focus:active {
  background-color: #106999;
  border-color: #fff;
  outline: none;
}

.round-button-circle .button-circle:not(:first-child) {
  margin-top: 20px;
}

.button-circle i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: white;
  font-size: 25px;
}

.markers-way-js::after {
  background: url("/assets/way-icon.png") no-repeat center;
  background-size: 40px;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.round-button-circle {
  top: 0px;
  padding: 5px;
  width: 70px;
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  position: absolute;
}

.world-panel {
  position: absolute;
  width: 100%;
  top: 10px;
}

.modal-image {
  max-width: 90%;
  max-height: 100%;
}

.preview-area{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(156, 182, 202, 0.77);
  display: none;
}

